name: Windows & Android release

on:
  workflow_dispatch:

jobs:
  build_android:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: re_ucm_app

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.TOKEN }}

      - name: Setup Git
        run: |
          git config --global url."https://${{ secrets.TOKEN }}:@github.com/".insteadOf "https://github.com/"

      - name: Set up Java and Flutter for Android
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "17"
          cache: gradle

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.19.0
        with:
          channel: "master"
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: BuildRunner
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Sign Android release
        run: |
          echo '${{ secrets.ANDROID_KEYSTORE_FILE_BASE64 }}' | base64 --decode > android/app/upload-keystore.jks
          echo '${{ secrets.ANDROID_KEY_PROPERTIES }}' > android/key.properties

      - name: Build Android release
        run: |
          mkdir app-build

          flutter build apk --release
          flutter build apk --release --split-per-abi

          cp ./build/app/outputs/flutter-apk/app-release.apk "./app-build/ReUCM_android.apk"
          cp ./build/app/outputs/flutter-apk/app-arm64-v8a-release.apk "./app-build/ReUCM_android_arm64-v8a.apk"
          cp ./build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk "./app-build/ReUCM_android_armeabi-v7a.apk"
          cp ./build/app/outputs/flutter-apk/app-x86_64-release.apk "./app-build/ReUCM_android_x86_64.apk"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ReUCM_android.apk
          path: re_ucm_app/app-build/ReUCM_android.apk
          retention-days: 3

      - uses: actions/upload-artifact@v4
        with:
          name: ReUCM_android_arm64-v8a.apk
          path: re_ucm_app/app-build/ReUCM_android_arm64-v8a.apk
          retention-days: 3

      - uses: actions/upload-artifact@v4
        with:
          name: ReUCM_android_armeabi-v7a.apk
          path: re_ucm_app/app-build/ReUCM_android_armeabi-v7a.apk
          retention-days: 3

      - uses: actions/upload-artifact@v4
        with:
          name: ReUCM_android_x86_64.apk
          path: re_ucm_app/app-build/ReUCM_android_x86_64.apk
          retention-days: 3

  build_windows:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: re_ucm_app

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.TOKEN }}

      - name: Setup Git
        run: |
          git config --global url."https://${{ secrets.TOKEN }}:@github.com/".insteadOf "https://github.com/"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.19.0
        with:
          channel: "master"
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: BuildRunner
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Build Windows release
        run: flutter build windows --release

      - name: Build installer and portable .7z archive
        shell: bash
        run: |
          echo "Creating portable 7z archive"
          "/c/Program Files/7-Zip/7z.exe" a -t7z -m0=lzma2 -mx=9 -mfb=64 -md=32m -ms=on "./build/ReUCM_windows_portable.7z" "./build/Windows/x64/runner/Release/"

          echo "Downloading and installing Inno installer"
          make innoinstall

          echo "Creating Windows installer"
          make inno

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ReUCM_windows.exe
          path: re_ucm_app/build/ReUCM_windows.exe
          retention-days: 3

      - uses: actions/upload-artifact@v4
        with:
          name: ReUCM_windows_portable.7z
          path: re_ucm_app/build/ReUCM_windows_portable.7z
          retention-days: 3

  publish:
    runs-on: ubuntu-latest
    needs: [build_android, build_windows]

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - id: read-version
        run: echo "version=$(grep '^version:' re_ucm_app/pubspec.yaml | awk '{print $2}')" >> $GITHUB_OUTPUT

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: build/
          merge-multiple: true

      - name: Create a GitHub release
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.TOKEN }}
          tag_prefix: ""
          custom_tag: ${{ steps.read-version.outputs.version }}

      - uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: ReUCM v${{ steps.tag_version.outputs.new_tag }}
          bodyFile: re_ucm_app/CHANGELOG.md
          artifacts: "build/*.*"
